<section class="container">
  <p>MFE Application</p>
  <p>Criar Livro</p>

    <form [formGroup]="createBookForm" (onSubmit)="createBookForm">

      <div class="mb-3 row">
        <label for="title" class="col-sm-2 col-form-label">Título</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" formControlName="title"
          placeholder="Digite o título">
          <div class="msg__erro" *ngIf="createBookForm.get('title')?.errors?.['required'] &&
            createBookForm.get('title')?.touched">
            <span>Título obrigatório</span>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="category" class="col-sm-2 col-form-label">Categoria</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="category" formControlName="category"
          placeholder="Digite a categoria">
          <div class="msg__erro" *ngIf="createBookForm.get('category')?.errors?.['required'] &&
            createBookForm.get('category')?.touched">
            <span>Categoria obrigatória</span>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="publisher" class="col-sm-2 col-form-label">Editora</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="publisher" formControlName="publisher"
          placeholder="Digite a editora">
          <div class="msg__erro" *ngIf="createBookForm.get('publisher')?.errors?.['required'] &&
            createBookForm.get('publisher')?.touched">
            <span>Editora obrigatória</span>
          </div>
        </div>
      </div>

      <div class="form-floating">
          <button class="btn btn-primary w-100 py-2"
          aria-label="salvar"
          [disabled]="!createBookForm.valid"
          type="submit"
          (click)="save()">Salvar</button>
        </div>

        <div class="form-floating">
          <button class="btn btn-secondary w-100 py-2"
          aria-label="cancelar"
          type="submit"
          (click)="cancel()">Cancelar</button>
        </div>

    </form>
</section>
