.container{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}


.bi{
  color: #fff;
}

p{
  font-size: 1.4rem;
  color: var(--color-pink1);
}

.btn-success{
  margin-top: 1rem;
}
