.card{
  margin-top: 2rem;
  border-radius: 10px;
}

.card-body{
  padding: 3rem;
}

.btn-primary{
  margin: 0.7rem 0rem;
}

.form-floating{
  margin-top: 0.7rem;
}

.msg__erro{
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -25px;
  margin-bottom: 20px;

  p{
    margin-top: 2rem;
  }
}

