<section class="container">
  <div class="card col-md-8 mx-auto text-left">
    <div class="card-body">
      <form [formGroup]="loginForm">
        <h1 class="h3 mb-3 fw-normal">Acessar sua conta</h1>
        <p>Faça login na sua conta App Books</p>

        <div class="form-floating">
          <input type="email" class="form-control" id="email" formControlName="email"
          placeholder="Seu email exemplo@appbooks.com.br"
          required>
          <label for="email">Email</label>

        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="senha" formControlName="senha"
          placeholder="Digite sua senha aqui" required>
          <label for="senha">Senha</label>

        </div>

        <button class="btn btn-primary w-100 py-2" (click)="login()">Fazer login</button>
      </form>
    </div>
  </div>
</section>
