@use '../../../styles/variables' as *;

.custom-error {
  color: #ce7500;
}

.content {
  padding: 2rem;
  width: 500px;
}

.row {
  display: flex;
  padding: 0.4rem;

  mat-form-field {
    width: 100%;
  }
}

p {
  font-size: 1.4rem;
  color: $mfe-color-primary;
}

.action {
  padding: 0 25px 20px;

  button {
    flex: 1;
  }
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::ng-deep .button-row button.btn-half {
  width: 44%;
  max-width: 190px;
  min-width: 160px;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 1rem;
    width: 300px;
  }

  .row {
    display: flex;
    padding: 0.7rem;

    mat-form-field {
      width: 100%;
    }
  }
}
