<div mat-dialog-title>
  <h1>Form Livro</h1>
</div>
<form [formGroup]="bookForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput type="text" placeholder="Título" formControlName="title">
        <div class="msg__erro" *ngIf="bookForm.get('title')?.errors?.['required'] &&
        bookForm.get('title')?.touched">
        <span>Título obrigatório</span>
      </div>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let val of category" [value]="val">{{val}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="bookForm.get('category')?.hasError('required') && bookForm.get('category')?.touched">
          Categoria obrigatória
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Editora</mat-label>
        <input matInput type="text" placeholder="Editora" formControlName="publisher">
        <mat-error class="custom-error" *ngIf="bookForm.get('publisher')?.hasError('required') && bookForm.get('publisher')?.touched">
          Editora obrigatória
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
    <button aria-label="salvar" [disabled]="!bookForm.valid"
    mat-raised-button color="primary" type="submit">{{data ? 'Atualizar': 'Salvar'}}</button>
  </div>
</form>
