.container{
  margin-top: 2rem;
}

p{
  font-size: 1.4rem;
  color: var(--color-pink1);
}


@media screen and (max-width: 600px) {
  .container{
    margin-top: 0.8rem;
  }

  p{
    margin-bottom: 0px;
  }

}
