// Color variables for mfe-app
$mfe-color-primary: #E80070;
$mfe-color-white: #ffffff;
$mfe-color-secondary: #3f51b5;
$mfe-color-primary-extra-light: #F9FAFB;

// Color Pallette
$mfe-blue-medium: #1E3A8A; // fundo normal
$mfe-blue-dark:   #1A357A; // hover
$mfe-pink-medium: #aa0c4b;
$mfe-pink-dark:   #8e003b;
$mfe-green-medium: #166534;
$mfe-green-dark:   #14562E;
$mfe-gray-light:  #b5b5b5;
$mfe-gray-medium: #525252;
$mfe-gray-dark:   #2E3643;
