@use './../../styles/variables' as *;

.container {
  margin-top: 2rem;
}

.publisher-container {
  h2 {
  font-size: 1.5rem;
  }

  .custom-error {
    color: #db5400;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    mat-form-field {
      flex: 1; // Faz o campo de entrada ocupar o espaço restante
      margin-right: 10px; // Espaçamento entre o campo e o checkbox

      @media (max-width: 600px) {
        margin-right: 0;
        margin-bottom: 10px;
        flex-basis: 100%;
      }
    }

    mat-checkbox {
      margin-right: 10px; // Espaçamento entre os checkboxes

      @media (max-width: 600px) {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

.alignItens {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
