@use '../../styles/variables' as *;

.container{
  margin-top: 2rem;
}

.containerAdd{
  display: flex;
  justify-content: space-between;
  margin-right: 0.8rem;
}

.bi{
  color: $mfe-color-white;
}

.endBtn, .endBtn button{
  text-align: end;
}

p{
  font-size: 1.4rem;
  color: $mfe-color-primary;
}

span{
  font-size: 1.4rem;
  color: $mfe-color-secondary;
}

.custom-header{
  color: black;
  background-color: yellow;
}

.search-infos{
  width: 280px;
  max-width: 300px;
}

@media screen and (max-width: 600px) {
  .container{
    margin-top: 0.8rem;
  }

  p{
    margin-bottom: 0px;
  }
}




