.container{
  margin-top: 2rem;
}

.containerAdd{
  display: flex;
  justify-content: space-between;
  margin-right: 0.8rem;
}

.bi{
  color: #fff;
}

.endBtn, .endBtn button{
  text-align: end;
}

p{
  font-size: 1.4rem;
  color: var(--color-pink1);
}

.custom-header{
  color: black;
  background-color: yellow;
}

@media screen and (max-width: 600px) {
  .container{
    margin-top: 0.8rem;
  }

  p{
    margin-bottom: 0px;
  }
}




