<section class="container">
  <p>MFE Application</p>

  <div class="containerAdd">
    <div><p>Lista Livros</p></div>
    <div>
      <button mat-fab extended class="btn btn-primary d-flex justify-content-end"
      (click)="openAddEditBookForm()">
        <mat-icon>add</mat-icon>
        Adicionar
      </button>
    </div>
  </div>

   <!-- Início da tabela com o Design do Angular Material -->
   <div class="main-body">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Poesia" #input>
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Título</th>
          <td mat-cell *matCellDef="let row"> {{row.title}}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
          <td mat-cell *matCellDef="let row"> {{row.category}}</td>
        </ng-container>

        <ng-container matColumnDef="publisher">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Editora </th>
          <td mat-cell *matCellDef="let row"> {{row.publisher}}</td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
          <td mat-cell *matCellDef="let row">
            <div class="example-button-row">
              <div class="example-flex-container">
                <div class="example-button-container">
                  <button mat-fab extended (click)="openEditForm(row)">
                    <mat-icon>edit</mat-icon>
                    Editar
                  </button>&nbsp;
                  <button mat-fab extended color="primary" aria-label="Excluir" (click)="deleteBookById(row.id)">
                    <mat-icon>delete</mat-icon>
                    Excluir
                  </button>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Quando não encontrar o dado na tabela -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Nenhum dado encontrado "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecione pagina de livros"></mat-paginator>
    </div>
  </div>

   <!-- Fim da tabela-->
</section>
